<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfred.weather</string>
	<key>connections</key>
	<dict>
		<key>64AA6669-A61D-4DE7-9CD2-C02FD53A6878</key>
		<array/>
		<key>C08877BF-637D-4375-B038-54097F5D0BC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64AA6669-A61D-4DE7-9CD2-C02FD53A6878</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>MF</string>
	<key>description</key>
	<string>获取天气</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>天气</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tq</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在查询中...</string>
				<key>script</key>
				<string>/usr/local/bin/python weather.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>/usr/local/bin/python weather.py</string>
				<key>subtext</key>
				<string>天气</string>
				<key>title</key>
				<string>天气</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C08877BF-637D-4375-B038-54097F5D0BC5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>64AA6669-A61D-4DE7-9CD2-C02FD53A6878</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>64AA6669-A61D-4DE7-9CD2-C02FD53A6878</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>C08877BF-637D-4375-B038-54097F5D0BC5</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/MF-x/weather-Alfred/</string>
</dict>
</plist>
